---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   .95em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333; //almost black
$background-color: #fdfdfd; //almost white

$title-color: #234;//$background-color;
$menu-color: $text-color; // $background-color;

$menu-down: $background-color; // tiny menu (on phones)
$mobile-menu-color: $text-color;

$brand-color:   #A98;//   #0077CC; //colour for the links



$link-color:      #0077CC; //colour for the links light blue

$green-color:		#347C17;
$orange-color:		#FF9000;
$deep-blue-color:	#0022dd;


$line-below-header-color: $text-color; //$link-color;

//colors

$purple-color:	$green-color; //#522d80;

$clemson-purple:    $link-color; //  #522d80;
$clemson-orange:    #0033ff;  // #f66733;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    950px;

$on-palm:          600px;
$on-laptop:        950px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
	"mobile-header",
        "base",
        "layout",
        "syntax-highlighting",
	"fancy-image"
;
